$min-width: 320px;
$max-width:100%;
$padding: 0;


$black: #000;
$white: #fff;
$first: #f38181;
$second:#fce38a;

$fourth:#95e1d3;
$colorTitle: #333333;
$colorText: #999999;
$colorGray: #f8f8f8;

$colorLine:#e5e5e5;

$colorText2: #b1b1b1 // AIzaSyADj5tZ22JKvMpAzHzP9OpSKFpHt31hOAQ